NODE_ENV=development
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_APP_NAME=Fasnexi
EXPO_PUBLIC_APP_VERSION=0.1.0
EXPO_PUBLIC_AUTH_SCHEME=com.fasnexi
EXPO_PUBLIC_FEATURE_AI_RECOMMENDATIONS=true
EXPO_PUBLIC_FEATURE_CREATOR_MODE=true
EXPO_PUBLIC_FEATURE_MARKETPLACE=true
